@import "normalize.css";

.header {
    background-color: rgba(0, 0, 0, 0.249);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
}

/* HEADER STYLES BTN  */
.header__menu-mobile-btn, .header__section1__btn1, .header__section1__btn2 {
    background: none;
    margin: 7px;
    transform: scale(1);
    transition: transform 1s;
}

.header__section1__btn1 a, .header__section1__btn2 a,
.header__section1__btn1 i, .header__section1__btn2 i {
    color: var(--colorLetra2);
    text-decoration: none;
}

.header__section1__btn1 a:hover, .header__section1__btn2 a:hover {
    color: var(--colorLetraHover);
}

.header__section1__btn1:hover, .header__section1__btn2:hover {
    transform: scale(1.3);
    transition: transform 1s;/*
    color: rgb(88, 155, 255); */
}

.header__menu-mobile-btn {
    margin-left: -3px;
}

.header__menu-mobile-btn i {
    font-size: 1.4em;
}
.header__section1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.header__section1__container-btn {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.header__section1__container-btn div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.search-container {
    display: none;
}

.header__section1__input {
    width: 100%;
    border-radius: 20px;
    padding: 5px 10px;
}

.fa-search {
    position: absolute;
    right: 5px;
}

#icon-search {
    display: none;
}

.nav {/*
    background-color: #000a; */
    position: absolute;
    top: -10000px;
    width: 100vw;
    height: 100vh;
    transition: top 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10000;
}

.navOn {
    background-color: var(--fondoHeader);
    top: 0;
    transition: top 1s;
}

.nav__ul div {
    display: flex;
    flex-direction: row;
}

.nav__ul div span {
    margin: 0 10px;
}

.nav__ul form button {
    background: none;
}


.nav__li-act__ul {
    display: none;
    background-color: var(--fondoHeader);
    position: absolute;
}

.header__menu-mobile-btnClose {
    background-color: #f00;
    position: absolute;
    right: -8px;
    top: -10px;
    padding: 8px 10px;
    border-bottom-left-radius: 10px;
}

.header__menu-mobile-btnClose i {
    font-size: 1.5em;
    color: #fff;
}

.nav__li, span {
    margin: 50px 20px;
    list-style: none;
    transform: scale(1);
    transition: transform 1s;
    text-shadow: 1px 1px 10px #767676;
    color: var(--colorLetra2);
}

.nav__li a {
    color: var(--colorLetra2);
    text-decoration: none;
}
.nav__li a:hover {
    color: var(--colorLetraHover);
}

.nav__li:hover {
    transform: scale(1.1);
}

.header__section1__btn2 a {
    text-decoration: none;
}

.menu-log {
    display: none;
}

.menu-log a:nth-child(2) {
    margin-top: 30px;
}
.menu-logOn {
    display: block;
    position: absolute;
    background-color: #000;
    width: 200px;
    height: 100px;
    top: 78px;
    right: 0px;
    z-index: 100000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .header__section1__input-mobile {
        display: none;
    }
    .header {
        padding: 20px;
    }

    .header__section1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .btnNavbarOn {
        position: absolute;
        left: 20px;
    }

    .header__section1__input {
        min-width: 300px;
        width: 400px;
        margin: 0 30px;
    }

    .search-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 100px;
        max-width: 800px;
    }


    .header__section1__container-btn {
        margin-left: 50px;
    }

    .menu-logOn {
        display: block;
        position: absolute;
        background-color: #000;
        width: 200px;
        height: 100px;
        top: 67px;
        right: 0px;
        z-index: 100000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 1024px) {

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 100;
    }

    .header__section1__container-btn {
        margin: 0 10px;
    }

    .header__section1__container-btn div {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    .header__section1__container-btn div div button {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .header__section1__container-btn div div button i {
        margin: 0 5px;
    }

    .header__menu-mobile-btn, .header__section1__container-btn div {
        position: relative;
    }
    .header__menu-mobile-btn {
        display: none;
    }

    .header__section1__btn1, .header__section1__btn2 {
        font-size: 1em;
    }

    .header__section1 {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .header__section1__input {
        min-width: 300px;
        width: 600px;
        margin: 0 50px;
    }

    .header__section1__container-btn div button {
        margin: 0 20px;
    }

    .nav {
        position: relative;
        display: flex;
        inset: auto;
        height: auto;
    }

    .nav__ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100000;
    }

    .nav__li {
        margin: 0px;
    }

    .nav__li-act__ul2 {
        width: 1000px;
        left: -10000px;
        transition: left 1s;
    }

    .nav__li-act__ul4 {
        width: 1000px;
        right: -10000px;
        transition: right 1s;
    }

    .nav__li-act__ul2, .nav__li-act__ul4 {
        display: flex;
        justify-content: space-around;
        height: 300px;
        padding: 20px 10px;
        top: 40px;
    }

    .nav__li-act__ul2On, .nav__li-act__ul4On {
        background-color: #000e;
        position: absolute;
        top: 40px;
        z-index: -10000;
        transition: opacity 4s;
    }

    .nav__li-act__ul2On {
        left: -160px;
        transition: left 1s;
    }

    .nav__li-act__ul4On {
        width: 1000px;
        right: -250px;
        transition: right 1s;
    }

    .nav__li-act__li a {
        display: flex;
        flex-direction: column;
        font-size: 10px;
        transform: scale(1);
        transition: transform 1s;
        padding: 5px;
        color: var(--colorLetra2);
    }

    .nav__li-act__li a i {
        padding: 5px;
    }

    .nav__li-act__li a:hover {
        transform: scale(1.2);
        transition: transform 1s;
        text-decoration: none;
    }

    .nav__li-act__li1 a, .nav__li-act__li3 a, .nav__li-act__li5 a, .nav__li-act__li7 a,
    .nav__li-act__li1, .nav__li-act__li3, .nav__li-act__li5,
    .nav__li-act__li1 a i, .nav__li-act__li3 a i, .nav__li-act__li5 a i, .nav__li-act__li7 a i {
        color: var(--colorLetra2);
    }

    .nav__li-act__li {
        margin: 0 10px;
        padding: 0 10px;
        list-style: none;
        font-size: .7em;
    }

    .fa-angle-down {
        rotate: 0;
        transition: rotate 1s;
        color: var(--colorLetra2);
    }
    .fa-angle-down-rot1, .fa-angle-down-rot2 {
        rotate: -540deg;
        transition: rotate 1s;
    }

    .menu-logOn {
        display: block;
        position: absolute;
        background-color: #000;
        width: 200px;
        height: 100px;
        top: 0;
        right: 0px;
        z-index: 100000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

