

.main {
    width: 100%;
    height: 100%;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-title__h1 {
    font-size: 40px;
    text-align: center;
    text-shadow: 2px 2px 10px #000000;
    color: var(--colorLetra2);
}


.form {
    background-color: #0004;
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.form__containerInputBnt {
    padding: 30px 0;
}

.container-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0;
}

.form__input {
    width: 400px;
    height: 40px;
    border-radius: 10px;
    margin: 5px 0;
    padding: 0 10px;
    transform: scale(1);
    transition: transform 1s;
}

.form__input:hover {
    transform: scale(1.05);
    transition: transform .5s;
}

.form__input-send {
    background-color: #4af;
}

.form__input-send:hover {
    background-color: #49f;
}

.container-links {
    display: flex;
    flex-direction: row-reverse;
}

.container-links a {
    margin: 0 10px;
}







