body {
  background: url(../img/fondo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  inset: 0;
  background-color: #000a;
  z-index: -10;
}

h3, p {
  color: #ffffff !important;
}

/* Tarjetas */

.cover {
  width: 100%;
  padding-bottom: 60px;
  margin-top: 100px;
  background: fixed;
  border-radius: 50px;
  justify-content: space-around;
}

.container_cover {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.cover .container_info {
  max-width: 300px;
  margin-top: 10px;
  z-index: 1;
}

.cover h1 {
  max-width: 400px;
  font-size: 60px;
  font-weight: 900;
  color: rgba(33, 177, 199, 0.889);
}

.cover h2 {
  font-size: 30px;
  font-weight: 900;
  color: rgba(33, 177, 199, 0.889);
  margin-top: -15px;
}

.cover p {
  margin-top: 10px;
  color: #fbf5f5;
}



.container_vector img {
  position: relative;
  bottom: 10px;
  right: 0px;
  width: 200px;
  animation: move_vector 9s alternate infinite;
}

/* Animación del logo */
@keyframes move_vector {
  0% {
    transform: translatey(10px);
  }
  25% {
    transform: translatey(-50px);
    transform: rotateY(180deg);
  }
  100% {
    transform: translatey(50px);
  }
}


/* Tarjetas */

.container {
  width: 100%;
  height: 600px;
  display: flex;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(20, 184, 184, 0.775);
  width: 200px;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: #f4f1f164;
  height: 60%;
  transition: all 400ms ease;
}

.card:hover {
  box-shadow: 10px 10px 10px rgba(20, 184, 184, 0.775);
  transform: scale(1.05);
  transition: transform 0.9s;
}

.card img {
  width: 100%;
  height: 200px;
}

.card .contenido {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: rgba(40, 169, 191, 0.896);
  padding: 20px;
  margin-top: auto;
}

.card h3 {
  font-weight: 500;
  text-align: center;
  margin-bottom: 0px;
  color: rgb(5, 5, 5);
}

.card button {
  display: block;
  margin-bottom: -1px;
  padding: 10px 20px;
  background-color: #1599a5;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.card button:hover {
  background-color: #cbcdcb;
  color: black;
}

.container-boton {
  position: fixed;
  z-index: 999;
  border-radius: 50%;
  bottom: 20px;
  right: 25px;
  padding: 2px;
  transition: ease 0.3s;
  animation: efecto 1.2s infinite;
}

.container-boton:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.boton {
  width: 80px;
  transition: ease 1s;
}

@keyframes efecto {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 247, 247, 0.85);
  }
  100% {
    box-shadow: 0 0 0 25px rgba(8, 124, 160, 0.008);
  }
}


/* SUB PAGINAS
================================================================= */






.container-servicios {
  background-color: #0000006b;
  margin: 100px 200px;
  padding: 30px;
  border-radius: 20px;

}

h1, figcaption {
  text-align: center;
  font-size: 25px;
  margin-bottom: 50px;
  color: #ffffff;
}

p {
  text-align: justify;
  margin-bottom: 10px;
  margin-top: 5px;
  font-size: 20px;
  color: #cbcdcb;
}

.slick-carousel {
  position: relative;
  margin-bottom: 40px;
}

.slick-carousel img {
  max-width: 95%;
  width: 100%;
  height: 600px;
  margin: 0 auto;
}

.slick-carousel figcaption {
  text-align: center;
  margin-top: 10px;
  font-style: italic;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 30px;
  color: #ffffff;
}

.informacion {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.informacion section {
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.informacion section img {
  max-width: 95%;
  height: 600px; /* Altura deseada */
  margin-top: 25px;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
}

.informacion section img:hover {
  transform: scale(1.1);
}

.informacion h1,
.informacion p,
.informacion li {
  text-align: justify;
  margin-top: -5px;
  margin-bottom: 20px;
  color: #cbcdcb;
}

.informacion ol {
  padding-left: 0;
  list-style-type: none;
}

.informacion ol section {
  display: flex;
  align-items: center;
}

.informacion figure {
  margin: 0 auto;
  text-align: center;
}

.informacion figcaption {
  font-style: italic;
  font-weight: bold;
  font-size: 30px;
  color: #ffffff;
  margin-bottom: -5px;
  margin-top: 20px;
}

.contratar {
  display: block;
  margin-top: 10px;
  margin-bottom: 25px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.contratar:hover {
  background-color: #45a049;
}


@media screen and (max-width: 1024px) {
  .container_cover {
    flex-direction: column;
    align-items: center;
  }

  .cover .container_info {
    margin-top: 30px;
    text-align: center;
  }

  .cover h1 {
    font-size: 40px;
  }

  .cover h2 {
    font-size: 25px;
    margin-top: -10px;
  }

  .container_vector img {
    width: 150px;
  }

  .container-boton {
    bottom: 10px;
    right: 10px;
  }

  .boton {
    width: 60px;
  }
}

@media screen and (max-width: 768px) {
  .container_cover {
    margin-top: 50px;
  }

  .cover .container_info {
    margin-top: 20px;
  }

  .cover h1 {
    font-size: 30px;
  }

  .cover h2 {
    font-size: 20px;
    margin-top: -5px;
  }

  .container_vector img {
    width: 120px;
  }
}

@media screen and (max-width: 480px) {
  .cover h1 {
    font-size: 25px;
    max-width: 300px;
  }

  .cover h2 {
    font-size: 18px;
  }

  .cover p {
    font-size: 14px;
  }

  .cover input[type="button"] {
    padding: 8px 30px;
    margin-top: 30px;
    font-size: 10px;
  }

  .container_vector img {
    width: 100px;
  }

  .container {
    justify-content: center;
  }

  .card {
    margin: 10px;
  }

  .slick-carousel img {
    height: 400px;
  }

  .slick-carousel figcaption {
    font-size: 14px;
    margin-bottom: 50px;
  }

  .informacion .informacion-content {
    flex-basis: 100%;
  }
}
