body {
    background: url(../img/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #0007;
    z-index: -10;
}

.card {
    margin: 50px 10px;
}

h4 {
    color: #fff;
}