body {
    background: url(../img/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0007;
    z-index: -10;
}

.titulo{
    background:rgba(5 7 12 / 9%);
    font-size: 60px;
    text-align: center;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 5px black;
       border: 3px solid black;
    margin: 50px 100px 10px 300px;
    width: 600px;
    border-radius: 8px;
}
.contenedor{
    height: 1280px;
    width:1250px;
}
.empresa{
  background-color: rgb(255, 255, 255);
  height: 400px;
  width: 300px;
 float: left;
 margin: 10px 10px 10px 150px;
 text-align: center;
 border-radius: 6px;
 overflow: hidden;
 box-shadow: 0px 1px 10px rgb(144, 144, 144);
 cursor: pointer;
 transition: all 400ms ease;
}
.textempresa {
    margin-top: 0;
    color: #030303;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
  }
.empresa:hover{
    box-shadow: 0px 1px 10px rgb(144, 144, 144);
    transform: translateY(-3%);
}
.mision{
    background-color: rgb(255, 255, 255);
    height: 400px;
    width: 300px;
    float: left;
    margin: 10px;
    text-align: center;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgb(144, 144, 144);
    cursor: pointer;
    transition: all 400ms ease;
}
.mision:hover{
    box-shadow: 0px 1px 10px rgb(144, 144, 144);
    transform: translateY(-3%);
}
.vision{
    background-color: rgb(255, 255, 255);
    height: 400px;
    width: 300px;
    float: left;
    margin: 10px;
    text-align: center;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgb(144, 144, 144);
    cursor: pointer;
    transition: all 400ms ease;
}
.vision:hover{
    box-shadow: 0px 1px 10px rgb(144, 144, 144);
    transform: translateY(-3%);
}
span{
    font-weight: bold;
    position: relative;
       color:rgb(0, 18, 70);
       /* font-weight: 100; */

}
span::before{
    content: --;
    border: red solid;
    position: absolute;
    bottom: 0;
    left: 0;
}
.textempresa{
text-align: justify;
padding: 5px;
font-size: 19px;
}
.textmision{
    text-align: justify;
    padding: 5px;
    font-size: 22px;
}
.textvision{
    text-align: justify;
    padding: 5px;
    font-size: 22px;
}
.equipo{
    margin-top: 20px;
    font-size: 20px;
    height: 600px;
    background-image: url(../img/imgSobre-nosotros/fgrupal.jpeg);
    background-position: top center;
   background-size:cover;
   background-repeat: no-repeat;
   border: 3px solid rgb(0, 0, 0);
   border-radius: 15px;
}
.imgempresa{
    background-image: url(../img/imgSobre-nosotros/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 15px;
    height: 170px;
    width: 90%;
}
.imgmision{
    background-image: url(../img/imgSobre-nosotros/mision.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 15px;
    height: 150px;
    width: 90%;
}
.imgvision{
    background-image: url(../img/imgSobre-nosotros/vision2.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 15px;
    height: 150px;
    width: 90%;
}
.tequipo{
    background-color:black;
    margin: 480px 10px 10px 10px;
    width: 1250px;
    height: 40px;
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 8px;
}
.contacto-container {
    width: 50%;
    margin: 0 auto;
    background-color:rgb(218, 218, 218);
    color: #000000;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .contacto-container h2 {
    margin-top: 0;
    color: #000000;
    border-bottom: 2px solid #282727;
    padding-bottom: 05px;
    width: 80%;
  }
form {
    margin-bottom: 20px;
  }
label, input, textarea {
    display: block;
    margin-bottom: 10px;
  }
input[type="submit"] {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
.datos-contacto {
    margin-top: 40px;
    background-color:rgb(201, 201, 201);
    color: #000000;
    padding: 20px;
    border-radius: 8px;
  }
  .whatsapp{
    background-color:rgb(237, 235, 235);
    background-image: url(../img/imgSobre-nosotros/img3.png);
    background-repeat: no-repeat;
    background-position: left;
    height: 170px;
    width: 150px;
    margin: 20px 20px 20px 20px;
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
    transition: all 400ms ease, width 3s;
   }
   .whatsapp:hover{
  width: 550px;
    transform: translateY(-3%);
   }
 .tel{
    height: 80px;
    width: 350px;
    text-align: center;
    font-size: 50px;
    margin: 60px 05px 05px 160px;
    padding: 10px 10px 10px 10px;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 5px black;
   border-style: solid;
   border-radius: 6px;
}

.contenedor div:nth-child(1) h1 {
    color: #fff;
}













